body{
    background-color: #292525;
    margin: 0%;
    }



button{
    background-color: #292525;
    color: aliceblue;
    padding-bottom: 3px;
    margin-left: 5px;
}



#imgflex{
    flex-wrap: wrap;
    display: flex;

    flex-direction: row;
    
    padding-top:10px ;
    
    height: 500px;
    width: 225px;
    display: inline;
  
}

#main{
    display: flex;
}


